div.folha {
    width: 800px;
    height: 600px;
    border-width: medium;
    border-style: solid;
    border-color: blue;
    padding: 10px;
    margin: 20px;
}

div.localData {
    background-color: #999999;
    text-align: center;
    margin-bottom: 15px;
    align-self: center;
    font-size: 20px;
}

div.saudacao {
    width: 265px;
    background-color: #999999;
    text-align: left;
    text-indent: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}

div.mensagem {
    background-color: #999999;
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 50px;
    line-height: 2;
    font-size: 20px;
}

div.despedida {
    width: 530px;
    background-color: #999999;
    margin-bottom: 15px;
    font-size: 20px;
}

div.assinatura {
    width: 530px;
    background-color: #999999;
    font-size: 15px;
    margin-bottom: 15px;
}